:root {
  --font-rgular: "Rubik-Regular";
  --font-medium: "Rubik-Medium";
  --font-bold: "Rubik-Bold";
  --font-semi-bold: "Rubik-SemiBold";
  --font-light: "Rubik-Light";

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.create-common-btn {
  padding: 17px 1px;
}


button.user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;
  border: none;
  background-color: #0fb4d4;
  outline: none;
  padding: 12px 24px;
  border-radius: 10px;
  color: white;
}

.inner-user h1 {
  font-size: 30px;
  color: #242424;
  font-family: var(--font-bold);
}


ul.user-edit {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 0px;
}

#example thead tr th {
  color: #000000;
  font-family: var(--font-rgular);
}

#example tbody tr td {
  color: #252525;
  font-family: var(--font-rgular);

}

#example tbody tr td p {
  color: #909090;
  font-size: 13px;
}


/* modal-popup-css */


.modal-dialog.another-two-two {
  padding-top: 10%;
}

.another-two-two {
  max-width: 800px;
  max-height: 800px;
}

.another-two-one {
  width: 700px;
  min-height: 700px;
  border-radius: 30px;
}

.modal-header {
  width: 60%;
  margin: auto;
}

h5#exampleModalLongTitle {
  font-size: 30px;
  margin: auto;
  font-family: var(--font-bold);
}


.modal-header .close {
  font-size: 45px;
}

button.close {
  position: absolute;
  top: 16px;
  right: 28px;
  outline: none;
}

.modal-body {
  padding: 38px 15px;
}

.role {
  margin: auto;
  width: 54%;
  height: 68px;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  padding: 7px 14px;
  margin-bottom: 40px;
}

.role p {
  font-size: 15px;
  font-family: var(--font-rgular);
}

input#firstname {
  font-size: 15px;
  font-family: var(--font-medium);
  border: none;
  outline: none;

}


 
.check_box {
  padding-bottom: 30px;
  width: 54%;
  margin: auto;
}

.check-box-header p {
  font-size: 20px;
  color: #000000;
  font-family: var(--font-rgular);
}

.check-box-inner {
  display: flex;
  padding: 10px 0px;
  gap: 15px;
  align-items: baseline;

}

/* .check-box-inner label {
  font-size: 16px;
  font-family: var(--font-light);
}

input[type="checkbox"] {
  accent-color: #84bc41;

} */

.role-button {
  text-align: center;
}

button.role-btn {
  width: 54%;
  padding: 20px 20px;
  margin: auto;
  color: #fff;
  border-radius: 10px;
  background: #84bc41;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-rgular);
}

/* modal-popup-css */

 .check-box-inner input{
  display: none;
}
/* .check-box-inner label  */

.checkbox-label{
  position: relative;
  font-size: 16px;
  font-family: var(--font-rgular);
  padding-left: 22px;
}
.check-box-inner label:before{
  content:'';
  position: absolute;
  left: 0;
  top: 4px;
  width: 14px;
  height: 14px;
  border:1px solid #000;
}
.checkbox-Access:checked+ .checkbox-label::before{
  background-color: #84bc41;
  border:1px solid #84bc41;
} 

.checkbox-Access:checked+ .checkbox-label:after{
  content:'';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 9px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-style: solid;
  border-color: white;
  transform: rotate(45deg);
}  