/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}*/
.sec-tab.active {
    display: block;
}
.sec-tab {
    display: none;
}
.header-title {
    font: 26px/30px var(--medium-font);
    margin: 0px;
    padding-bottom: 5px;
}
.header-title h2 {
    font: 26px/30px var(--medium-font);
    margin: 0px;
}
.input-form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0px 10px;
}
.input-form-group-item {
    
    border: 1px solid #EAEAEA;
    border-radius: 14px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 8px;
}
.text-box-group
{
   width: 48%; 
}
.chosen-drop
{
    position: absolute !important;
}
.texte-btton
{
    display: flex;
    flex-direction: column;
}
.texte-btton > p{
    text-align:right;
}
.texte-bttons
{
    width: 350px;
}
#gstImageErr1
{
   font-size: 13px;
    padding-top: 8px;
    font-weight: 600;
}
/*.text-box-group
{
 width: 48%;
}*/
.delete-icon
{
    cursor: pointer;
}
.swal-button--cancel {
    color: #fff !important;
    background-color: #85bd42b5!important;
}
.input-form-group-item1 {
    width: 48%;
    border: 1px solid #EAEAEA;
    border-radius: 14px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-form-group-items {
    width: 32%;
    border: 1px solid #EAEAEA;
    border-radius: 14px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#businessTypeErr
{
    padding-bottom: 10px !important;
}
.chosen-container-single .chosen-single
{
    padding: 0px 0px !important;
    height: 18px !important;
}
.login-input-group.phone p {
    padding-left: 60px;
}
.login-input-group.phone .login-input-box {
    padding-left: 60px !important;
}
.login-input-group p {
    font: 13px/20px var(--font-default);
    letter-spacing: -.47px;
    opacity: .5;
}
.login-input-group .iti--allow-dropdown {
    width: 100%;
}
.login-input-group .iti__flag-container {
    top: -20px;
    width: 45px;
}
.login-input-group .iti__selected-flag {
    border-right: 1px solid #EAEAEA;
    padding: 0 2px 0 3px;
}
.step-form-header {
    margin-bottom: 15px;
}
.step-form-header h3 {
    font: 20px/22px var(--font-primary);
    letter-spacing: -.63px;
    padding-bottom: 5px;
}
.step-form-header p {
    font: 15px/16px var(--font-default);
    letter-spacing: -.47px;
    opacity: .5;
}
.upload-set{
    margin: 0px;
    /*cursor: pointer;*/
}
.upload-items{
    width: 48%;
}
.upload-file{
    display: none !important;
}
.input-file{
    display: none;
}
.upload-set{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.upload-label{
    border: 1px solid #2eafca;
    padding: 10px 12px;
    border-radius: 8px;
    margin: 0px;
    width: 250px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
.upload-label p{
    font: 15px/30px var(--font-primary);
    color: #2eafca;
}
.btn-icon{
    width: 24px;
    margin-right: 10px;
}
.input-file{
    display: none !important;
}
.cust-mt{
    margin-top: 20px;
}
/* document modal */
.document-body{
    padding: 20px;
    width: 85%;
    margin: auto;
}
.modal-header{
    text-align: center;
}
.modal-header h2{
    font: 28px/30px var(--font-primary);
}
.Upload-data-box-main-box{
 padding-top: 30px;
}
.Upload_data_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 15px;
    border-bottom: 2px solid #f2f2f2;
    flex-wrap: nowrap;
}

.pan_car_box h4 {
    font: 18px/20px var(--font-primary);
    color: var(--secondary-color);
    padding-bottom: 5px;
}
.pan_car_box p {
    font: 14px/16px var(--font-default);
    color: var(--secondary-color);
    opacity: .7;
}
.pan_uploaded_cont {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid #f2f2f2;
}
.succes-icon-text {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.tick-icon {
    width: 28px;
    margin-right: 5px;
}
.pan_uploaded_cont p {
    color: #000;
}
.doc-close-icon {
    width: 16px;
    margin-right: 5px;
    cursor: pointer;
}
.doc-edit-icon{
    width: 24px;
}
.pan_cont {
    border: 1px solid #03b4d2;
    padding: 12px 16px;
    border-radius: 12px;
    white-space: nowrap;
}
.pan_cont label {
    margin: 0px;
    color: #0fb3d0;
    cursor: pointer;
    font: 15px/18px var(--font-primary);
}
.close-icon{
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
    width: 15px;
    z-index: 1;
}
/* button */
.form_btn{
    margin-top: 50px;
}
.submit_btn {
    padding: 16px 12px;
    border: none;
    border-radius: 12px;
    background-color: #84bc42;
    color: #fff;
    font: 18px/20px var(--font-primary);
    min-width: 350px;
}
/* button end */
/* popup input css */
.full-width{
    width: 100%;
}
.input-form-group-required-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-form-group-required-item .input-form-group-item {
    width: 100%;
}
.input-box-set {
    width: 100%;
}
.input-box-set p {
    font: 13px/20px var(--font-default);
    letter-spacing: -.47px;
    opacity: .5;
}
.input-box {
    font: 16px/20px var(--font-default);
    letter-spacing: -0.5px;
    width: 100%;
}
.error-text {
    font: 12px/16px var(--font-default);
    color: #e54c4b;
    display: flex;
    align-items: center;
    margin: 5px 0px 10px;
    display: none;
}
.required-icon {
    width: 17px;
    margin-right: 5px;
}
.error-text.show{
    display: block;
}
.input-form-group-item.disabled {
    background-color: #f6f6f6;
    cursor: no-drop;
}
/* popup end */
/* Review css */
.content-wrapper {
    padding: 20px 10px 30px;
}
.business-info-set{

}

.product-logo{
    width: 78px;
}
.tab-wrapper {
    text-align: center;
    display: block;
    margin: auto;
    /* max-width: 500px; */
}
.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #cfcfcf6b;
    /* justify-content: center; */
}
.tab-link {
    margin: 0 25px;
    list-style: none;
    padding: 6px 10px;
    color: #7d7d7d;
    cursor: pointer;
    transition: all ease 0.5s;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    letter-spacing: 1px;
    font: 16px/18px var(--font-default);
}
.tab-link.active {
    color: #272727;
    border-color: #333;
    font: 16px/18px var(--font-primary);
}
.tab-link:nth-of-type(2).active {
    color: #000;
    border-color: #16c8dd;
}
.tab-link:nth-of-type(1).active {
    color: #272727;
    border-color: #16c8dd;
}
.tab-content {
    display: none;
    /* text-align: center; */
    color: #000;
    font-weight: 300;
    font-size: 15px;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards;
}
@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: none;
    }
}
.tab-content.active {
    display: block;
}
.info-empty-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #cfcfcf;
}
.remove-border{
    border-bottom: 0px;
}
.info-empty-card-items {
    width: 22%;
    margin-right: 3%;
    margin-bottom: 15px;
}
.info-empty-card-items p {
    color: #aaa;
    font: 13px/15px var(--font-default);
    padding-bottom: 3px;
}
.info-empty-card-items h4 {
    font: 15px/18px var(--font-default);
    margin: 0;
    overflow: hidden;
    word-break: break-word;
}
.primary_text {
    font: 20px/22px var(--font-primary);
    padding-bottom: 6px;
}
.service-doc-set{
    margin-bottom: 20px;
}
.tab-content .service-doc-set:last-child{
    margin-bottom: 0px;
}
.document-view {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.document-items {
    width: 17%;
    margin-right: 3%;
    margin-bottom: 40px;
    text-align: center;
}
.document-items img
{
  height: 280px;
    object-fit: contain;
}
.doc-set {
    border: 1px solid #e7e7e7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}
.document-file {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.file-name {
    font: 16px/18px var(--font-default);
    padding-top: 12px;
}
.cust-margin{
    margin-bottom: 0px;
}
.company_logo-set{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.company_logo-set img{
    margin-right: 16px;
}

@media only screen and (max-width: 1440px)
{
.document-view
{
    column-gap: 100px;
}
}