body{
    background-color: #F8FBFB;
}
.cart-sec{
    padding: 50px 0px;
}
.cart-header{
    margin-bottom: 20px;
}
.cart-header h2{
    font: 28px/30px var(--font-primary);
    letter-spacing: -0.875px;
    color: #000;
    opacity: .8;
}
.cart-lists{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cart-list{
    width: 30%;
    margin-right: 3.333%;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 14px;
    border-top: 5px solid #7DD9AA;
    box-shadow: 0px 0px 18px 3px #00000017;
    position: relative;
    cursor: pointer;
}
.cart-list:after{
    content: '';
    width: 16px;
    height: 30px;
    background: #f8fbfbd4;
    position: absolute;
    right: -1px;
    top: calc(50% - 15px);
    border-radius: 50px 0 0 50px;
    /* box-shadow: inset 20px 0 30px 20px #00000005; */
    background-image: linear-gradient(to left, #0000000f, #00000012, #0000000d);
}
.cart-list::before{
    content: '';
    width: 16px;
    height: 30px;
    background: #f8fbfbd4;
    position: absolute;
    left: -1px;
    top: calc(50% - 15px);
    border-radius:0 50px 50px 0;
    /* box-shadow: inset -20px 0 30px 20px #00000005; */
    background-image: linear-gradient(to left, #0000000f, #00000012, #0000000d);
}
.location-time{

}
.cart-title-set h2{
    font: 20px/22px var(--font-primary);
    letter-spacing: -.63px;
    color: #000;
}
.cart-title-set{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.more-icon{
    width: 24px;
    cursor: pointer;
    position: relative;
    top: 0px;
    right: -15px;
    z-index: 1;
}
.more-icon:hover{

}
.location-time p{
    font: 13px/15px var(--font-default);
    letter-spacing: -.41px;
    color: #000;
    opacity: .5;
}
.cart-division{
    position: relative;
    padding: 17px 0px;
    display: block;
}
.cart-division:after{
    content: '';
    background: url(../asset/home/circle-plane-top.svg)no-repeat;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-position: center;
    position: absolute;
    bottom: 3px;
    left: calc(50% - 11px);
}
.cart-division::before{
    content: '';
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 15px;
    left: 0px;
}
.cart-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
.cart-type p{
    font: 13px/15px var(--font-default);
    letter-spacing: -.41px;
    color: #000;
    opacity: .5;
    padding-bottom: 3px;
}
.cart-type h4{
    font: 15px/16px var(--font-default);
    letter-spacing: -0.46875px;
    color: #000;
    opacity: .8;
}
.service-type{

}
.service-type p{
    font: 13px/15px var(--font-default);
    letter-spacing: -.41px;
    color: #000;
    opacity: .5;
    padding-bottom: 3px;
}
.service-type h4{
    font: 15px/16px var(--font-default);
    letter-spacing: -0.46875px;
    color: #000;
    opacity: .8;
}
.ponit-amt-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.coin-set{
    display: flex;
    align-items: center;
    background-color: #FDF7E3;
    border-radius: 14px;
    padding: 3px 6px;
}
.coin-set p{
    font: 14px/16px var(--font-default);
    letter-spacing: .5px;
    color: #907416;
    white-space: nowrap;
}
.coin-set p span{
    font-family: var(--font-primary);    
}
.coint-icon{
    width: 15px;
    margin-right: 5px;
}
.price-set{

}
.price-set p{
    font: 20px/22px var(--font-primary);
    letter-spacing: -0.625px;
    color: #262626;
    white-space: nowrap;
}
.widget{
    display: inline-flex;
    justify-content: center;
    padding: 2px 6px;
    align-items: center;
    background: #fff;
    color: #000;
    border-radius: 8px;
}
.upcoming{
    background-color: #E3D9F9;
    color: #6846A0;
}
.completed{
    background-color: #E6F9D9;
    color: #6EA645;
}
.cancelled{
    background-color: #F9D9D9;
    color: #EC3E46;
}
@media only screen and (max-width:1199px) {
    .cart-list{
        width: 46%;
    }
}
@media only screen and (max-width:667px) {
    .cart-header h2{
        text-align: center;
    }
    .cart-list{
        width: 80%;
        margin: 10px auto 30px;
    }
}
@media only screen and (max-width:500px) {
    .cart-list{
        width: 90%;
        margin: 0px auto 30px;
    }
}
@media only screen and (max-width:420px) {
    .cart-list{
        width: 95%;
        padding: 12px;
    }
}
@media only screen and (max-width:375px) {
    .cart-list{
        width: 98%;
    }
}