.terms-sec{
	padding: 32px 0;
}
.terms-sec .heading-set h2{
	font-size: 28px;
	margin-bottom: 20px;
}
.sub__terms-container{
	margin-bottom: 32px;
}
.terms__container h4{
	margin-bottom: 12px;
}
.terms__container p{
	margin-bottom: 14px;
}
.terms__container p > .sub__head{
	margin-bottom: 8px;
	display: block;
	font-size: 16px;
}
.terms__container ul{
	list-style: disc;
	padding-left: 30px;
}
.terms__container ul li{
	margin-bottom: 8px;
}
.terms__container .sub__list{
	margin-left: 20px;
	margin-bottom: 8px;
}

.terms__footer{
	width: 75%;
	margin:0 auto;
	text-align: center;
}
.terms__footer strong{
	display: inline-block;
	font-size:16px;
	margin-bottom: 12px;
}
.terms__footer p{
	line-height: 30px;
}

.terms__container table{
	margin: 24px 16px;

}
.terms__container table td{
	padding: 10px;
	border:1px solid #080808;
}


@media screen and (min-width: 992px){
  .terms__container{
	padding: 0 75px;
  }
}







